<%- include("../partials/header"); -%>
<%- include("../partials/navbar"); -%>
        <main class="container mt-5">
            <div class="row">
                <div class="col-md-6 home_details">
                    <h1 class="home_size">TSF</h1>
                    <h3 class="banking_size">Banking</h3>
                    <a href="/customers"><button class="btn btn-primary btn_size">View Customers</button></a>
                </div>
                <div class="col-md-6">
                    <img src="images/photo.png" alt="" class="img-fluid">
                </div>
            </div>
        </main>
<%- include("../partials/footer"); -%>